.liked-videos{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white
}
@media screen and(max-width:765px) {
    .liked-videos{
        display:flex;
        flex-direction: column;
    }
}