@import  '../VideoPage/videoList.css';
.video-liked{
    font-size:1rem;
    font-weight: 100;
    color:rgba(255, 255, 255, 0.76);
    margin-left:10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}