@import '../../style.css';

.leftNav{
    position: fixed;
    display: flex;
    flex-direction: column;
    color:white;
    height:200vh;
    width:10rem;
    padding:0;  
}
.active{
  fill: var( --secondary-color);
  color: var( --secondary-color);
}
.menu-item {
  position: sticky;
  margin-left:0.5rem;
    list-style: none;
    width: fit-content;
    /* width-fitcontent is important */
    font-weight: 800;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 1.5rem;
    
  }
  .menu-item:hover {
    fill: var( --secondary-color);
    color: var( --secondary-color);
    /* background-color: rgba(29, 161, 242, 0.1); */
  }
  .hambug-view{
    display: none;
  }
  .svg-image {
    font-weight: 800;
    width: 20px;
    height: 1.75rem;
    margin-right: 1em;
  }
  @media screen and (max-width: 768px) {
    /* .leftNav{
      display: none;
    } */
  }