@import '../../style.css';
.navbar{
    position: sticky;
    z-index: 1;
    color:white;
    background-color: var(--bg-color);
	top: 0;
	left: 0;
	width: 100%;
    display:flex;
    justify-content: space-between;
    font-weight:1000;
    align-items: center;
    padding:0.5rem;
    cursor:pointer; 
}
.notLeftNav{
    display: none;
}
.nav-hambug{
    display: flex;
    justify-content: center;
    align-items: center;
  padding: 0.5rem;
}
.nav-link{
    color:var(--primary-color);
    background-color: var(--secondary-color);
    padding:0.5rem;
    border-radius: 1em;
    
}
.hambug{
    display: flex;
    flex-direction: column;
}
.navbar-left{
    display:flex;
    justify-content: center;
    align-items: center;
}